.bfy-red {
    background-color: #e76f51;
}

.bfy-orange {
    background-color: #f4a261;
}

.bfy-yellow {
    background-color: #e9c46a;
}

.bfy-green {
    background-color: #2a9d8f;
}

.bfy-dark-green {
    background-color: #264653;
}

.bfy-bg-light {
    background-color: #caf0f8;
}

.bfy-bg-dark {
    background-color: #001219;
}
/*
.bfy-bg-button {
    background-color: #283641;
}
*/
.bfy-bg-card-button {
    background-color: #499652;
}

.bfy-bg-success {
    background-color: #499652;
}

.bfy-notification-color {
    color: #499652;
}

.bfy-bg-danger {
    background-color: #e76f51;
}

.bfy-bg-table-cell {
    background-color: #ebebed;
}

.bfy-bg-body {
    background-color: #f5f6f7;
}

.bfy-bg-sidebar {
    background-color: #414f57;
}

.bfy-bg-navbar {
    background-color: #414f57;
}

.bfy-navbar-icon:hover {
    color: lightgray !important;
}

.logo:hover {
    filter: brightness(0.75)
}

.signin-logo {
    filter: invert(90%)
}

.brand {
    transform: translateX(-50%);
    left: 60%;
    position: absolute;
}

.bfy-board {
    overflow-x: scroll;
    white-space: nowrap;
}

.bfy-notification-badge {
    position: relative;
    right: 7px;
    top: -7px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.bfy-bg-project {
    background-color: #eaeeec;
}