.bfy-red { 
    background-color: #e76f51; 
}

.bfy-orange { 
    background-color: #f4a261; 
}

.bfy-yellow { 
    background-color: #e9c46a; 
}

.bfy-green { 
    background-color: #2a9d8f; 
}

.bfy-dark-green { 
    background-color: #264653; 
}